{% block content %}
<nav class="navbar navbar-expand-lg bg-dark-blue ">
  <div class="container-fluid">
      <a class="navbar-brand" href="app_home">
      <img src="/images/bitchest_logo.png" alt="Logo" width="200" height="60" class="d-inline-block align-text-top">
      </a>
     
      <div class="navbar-nav justify-content-end">
         {% if app.user %}
             <a class="btn btn-outline-info" href="{{ path('app_logout') }}">Log out</a>
         {% else %}
             <a class="btn btn-outline-info" href="{{ path('app_login') }}">Log in</a>
         {% endif %}
      </div>
    
  </div>
</nav>
{% endblock %}
